<nav class="menu-haut">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="menu-top">
      <li><img src="{{ '/assets/img/logo_qualibat_rge.png' | relative_url }}" style="width: 80px; margin-right: 20px" alt="Logo RGE Qualibat" loading="lazy">&nbsp;</li>
      <li><a class="{% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/">Accueil</a></li>
      <li><a class="{% if page.url == '/presentation/' %}active{% endif %}" href="{{ site.baseurl }}/presentation/">Présentation</a></li>
      <li><a class="{% if page.url == '/prestations/' %}active{% endif %}" href="{{ site.baseurl }}/prestations/">Nos prestations</a></li>
      <!-- <li><a class="{% if page.url == '/realisations/' %}active{% endif %}" href="{{ site.baseurl }}/realisations/">Nos réalisations</a></li> -->
      <li><a class="{% if page.url == '/zone/' %}active{% endif %}" href="{{ site.baseurl }}/zone/">Zones d'intervention</a></li>
      <li class="devis"><a class="{% if page.url == '/contact/' %}active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
  </div>
</nav>